body {
    font-family: "Merriweather", serif;
}

/* menu bar styles  */
.menu-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 100px;
}

.menu-bar .menu-title {
    font-size: 40px;
}

.menu-bar .menu-title:hover {
    color: #FF0000;
    cursor: pointer;
}

.nav-bar {
    display: flex;
    align-items: center;
}

.nav-bar>ul {
    display: flex;
}

.menu-bar li {
    list-style: none;
    margin-right: 30px;
}

.menu-bar li a {
    text-decoration: none;
    font-size: 28px;
    padding: 10px 15px;
}

.menu-bar li a:hover {
    background-color: #FF0000;
    color: white;
    border-radius: 30px;
}

.menu-btn {
    border: 0;
    font-size: 24px;
    padding: 10px 15px;
    background: none;

    color: #FF0000;
    font-style: italic;
    border-radius: 30px;
}

.menu-btn:hover {
    background-color: #FF0000;
    cursor: pointer;
    color: white;
}

/* main section styles  */
.banner-section {
    display: flex;
    justify-content: center;
}

.new-year-container {
    background-image: url(images/banner-image.png);
    background-repeat: no-repeat;
}

.happy-new-year {
    width: 1320px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, rgba(7, 2, 17) 0%, rgb(7, 2, 17, 0.1) 100%);
    width: 1320px;
    border-radius: 20px;
}

.new-year-text {
    padding: 50px 200px;
    text-align: center;


}

.happy-new-year h4 {
    font-size: 32px;
    color: white;
    margin-bottom: 10px;
}

.happy-new-year h2 {
    font-size: 72px;
    color: white;
    margin-top: 0;
}

/* offer section styles  */
.offer-container {
    width: 800px;
    height: 800px;
    margin: 100px auto;
}

.offer-container h1 {
    font-size: 88px;
    color: #FF0000;
    font-weight: bold;
    text-align: center;
    font-family: "Inter", sans-serif;
    margin-bottom: 0;
}

.offer-container h4 {
    font-size: 24px;
    color: #FF0000;
    text-align: center;
    font-family: "Inter", sans-serif;
}

.offer-container h2 {
    font-size: 48px;
    color: #070211;
    text-align: center;
    font-family: "Inter", sans-serif;
}

/* party section styles */
.party-section {
    background-image: url(images/Vectorrr.png);
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    margin: 0 auto;
}

.party-container {
    background: linear-gradient(to right, rgba(7, 2, 17) 0%, rgb(7, 2, 17, 0.1) 100%);
    width: 1320px;
    height: 600px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-container {
    margin-left: 120px;
    padding-right: 200px;
}

.text-container h1 {
    font-size: 64px;
    color: white;
    margin-bottom: 0;
}

.text-container p {
    font-size: 18px;
    color: white;
    font-family: "Inter", sans-serif;
}

.text-container button {
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    background: none;
    border: none;
    color: white;
    padding: 10px 15px;
}

.text-container button:hover {
    cursor: pointer;
    background: #FF0000;
    border-radius: 15px;
}

.picture-container {
    margin-right: 120px;
}

/* location section styles */
.location-section {
    margin: 100px 0;
}

.location-container {
    background: linear-gradient(to bottom, rgb(255, 0, 0, 0.1) 10%, rgba(255, 255, 255) 100%);
    width: 1320px;
    height: 480px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.location-container h2 {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    color: #070211;
    font-family: "Inter", sans-serif;
    margin: 15px;
}

.location-container h2>span {
    color: #FF0000;
}

.location-container button {
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    background-color: #FF0000;
    border: none;
    color: white;
    padding: 20px 40px;
    border-radius: 10px;
    margin-top: 50px;
}

.location-container button:hover {
    opacity: 0.6;
    cursor: pointer;
}

.location-container div {
    text-align: center;
}

/* .coming-soon-section styles */
.coming-soon-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1320px;
    height: 460px;
    margin: 0 auto;
}

.left-container {
    width: 393px;
}

.left-container h4 {
    font-size: 24px;
    color: #FF0000;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    margin: 0;
}

.left-container h1 {
    font-size: 48px;
    color: #070211;
    margin-top: 10px;
    margin-bottom: 15px;
}

.left-container p {
    font-size: 20px;
    color: #070211;
    font-family: "Inter", sans-serif;
    opacity: 0.5;
}

.middle-container {
    width: 463px;
}


.middle-container img {
    border: 15px solid #FF0000;
    border-radius: 50%;
    padding: 40px;
}


.right-container {
    width: 276px;
}


.right-container h1 {
    font-size: 48px;
    font-weight: bold;
    color: #FF0000;
    font-family: "Inter", sans-serif;
}


.right-container p {
    font-size: 20px;
    color: #070211;
    font-family: "Inter", sans-serif;
    opacity: 0.5;
}

/* holiday section styles  */
.holiday-section {
    width: 1320px;
    margin: 100px auto;
}

.holiday-text-container h4 {
    font-size: 24px;
    font-family: "Inter", sans-serif;
    text-align: center;
}

.holiday-text-container {
    width: 850px;
    margin: 0 auto;
}

.holiday-text-container h1 {
    font-size: 72px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.holiday-text-container h1 span {
    color: #FF0000;
}

.holiday-text-container p {
    font-size: 20px;
    text-align: center;
    font-family: "Inter", sans-serif;
    opacity: 0.6;
}

.image-container {
    position: relative;
    margin-top: 200px;
}

.image-container .gift-box {
    position: absolute;
    top: -130px;
}

.image-container .percent {
    position: absolute;
    right: 50px;
    top: -50px;
}

.image-container .rectangle {
    position: absolute;
    z-index: -1;
    top: 300px;
}

/* portfolio section styles  */
.portfolio-section {
    width: 1320px;
    margin: 0 auto;
}

.portfolio-text-container {
    width: 70%;
}

.portfolio-text-container h4 {
    font-size: 24px;
    color: #FF0000;
    font-family: "Inter", sans-serif;
    margin-bottom: 20px;
}

.portfolio-text-container h1 {
    font-size: 48px;
    margin-top: 0;
    margin-bottom: 0;

}

.portfolio-text-container p {
    font-size: 20px;
    opacity: 0.6;
}

.portfolio-gallery-container {
    margin-top: 50px;
}

.portfolio-gallery-container img {
    margin-right: 10px;
    margin-bottom: 10px;
}

/* newsletter section styles  */
.newsletter-section {
    background-color: rgb(255, 0, 0, 5%);
    width: 1320px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.newsletter-section h1 {
    font-size: 48px;
    margin-bottom: 0;
}

.newsletter-section p {
    text-align: center;
    font-size: 20px;
    width: 900px;
    opacity: 0.6;
}

.subscription {
    position: relative;
    margin-top: 30px;
}

.subscription .add-email {
    border: none;
    padding: 20px;
    opacity: 0.5;
    border-radius: 50px;
    width: 650px;
}

.subscription .submit-email {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #FF0000;
    border: none;
    padding: 16px;
    border-radius: 0px 50px 50px 0px;
    width: 210px;
    color: white;
    font-size: 20px;
}

/* footer styles  */
footer {
    background-color: #000000;
    color: white;
}

.footer-container {
    width: 1320px;
    margin: 0 auto;
    padding: 80px 0;
}
 .footer-container hr{
   border: 1px solid rgba(255, 255, 255, 15%);
}

.footer-container p {
    font-size: 24px;
    font-family: "Inter", sans-serif;
}

.footer-container .contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-container .contact .address{
    width: 375px;
    line-height: 40px;
}

.footer-container .contact .telephone p{
    margin: 10px;
}

.footer-container .social-media{
display: flex;
justify-content: center;
align-items: center;
gap: 40px;
margin: 40px 0;
}
.footer-container .social-media i{
font-size: 64px;
}

.footer-container .rights{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-container .rights button{
   font-size: 24px;
   background: none;
   color: white;
   border: none;
}
.footer-container .rights button:hover{
  cursor: pointer;
}